<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcCoreUploadAndDisplayImage_Demo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />-->

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap5" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap"
          rel="stylesheet" />

    <link rel="stylesheet" href="fonts/icomoon/style.css" />
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css" />

    <link rel="stylesheet" href="~/css/tiny-slider.css" />
    <link rel="stylesheet" href="~/css/aos.css" />
    <link rel="stylesheet" href="~/css/style.css" />

    <title>
        QUEENS COURT PROPERTIES
    </title>



    <link rel="stylesheet" href="~/MvcCoreUploadAndDisplayImage_Demo.styles.css" asp-append-version="true" />
</head>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<body>





    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icofont-close js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <nav class="site-nav">
        <div class="container">
            <div class="menu-bg-wrap">
                <div class="site-navigation">
                    <a asp-controller="Apartment" asp-action="Tesr" class="logo m-0 float-start">Queens Court Properties.</a>

                    <ul class="js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
                        <li class="active"><a asp-area="" asp-controller="Apartment" asp-action="Tesr">Home</a></li>
                      

                         @if (User.Identity.IsAuthenticated && !(User.IsInRole("Admin")) && !(User.IsInRole("Manager")))
                        {
                           
                            <li class="has-children">
                                <a >Properties</a>
                                <ul class="dropdown">
                                    <li><a asp-area="" asp-controller="Apartment" asp-action="ViewCIndex">View Apartments</a></li>
                                    <li><a asp-area="" asp-controller="Profiles" asp-action="Index">Create Profile</a></li>
                                    <li><a asp-controller="Home" asp-action="History">My Apartments</a></li>
                                    <li><a asp-area="" asp-controller="Apartment" asp-action="CIndex">Deposit Apartment</a></li>
                                    <li><a asp-area="" asp-controller="Reservations" asp-action="Index">My Reservations</a></li>
                                    <li><a asp-area="" asp-controller="Manager" asp-action="Register"> Register As LandLord</a></li>
                                    <li><a asp-area="" asp-controller="Manager" asp-action="Index">LandLord Registrations</a></li>

                                    <li><a asp-area="" asp-controller="ReportApartment" asp-action="Create">Reports Apartment</a></li>
                                    <li><a asp-area="" asp-controller="ReportApartment" asp-action="Index">Apartment Reports</a></li>
                                   <!--   <li><a asp-area="" asp-controller="Reservations" asp-action="Index">View Reservations</a></li>-->
                                 <!--         <li><a asp-area="" asp-controller="ReportApartment" asp-action="Index">Apartment Reports</a></li>-->

                                   
                                </ul>
                            </li>

                        }
                        @if (User.IsInRole("Admin"))
                        {

                            <li class="has-children">
                                <a>Management</a>
                                <ul class="dropdown" style="color:black">
                                    <li>
                                        <a asp-area="Text" asp-controller="Apartment" asp-action="Index" style="color:black">Apartments</a>
                                    </li>


                                    <li>
                                        <a asp-area="Text" asp-controller="Home" asp-action="History" style="color:black">History</a>
                                    </li>



                                    <li>
                                        <a class="Text" asp-area="" asp-controller="Manager" asp-action="Index" style="color:black">Registrations</a>
                                    </li>


                                  
                                    <li>
                                        <a class="Text" asp-area="" asp-controller="Reservations" asp-action="Index" style="color:black"> Reservations</a>
                                    </li>
                                    <li>
                                        <a class="Text" asp-area="" asp-controller="Home" asp-action="History" style="color:black"> Payments</a>
                                    </li>
                                    <li>
                                        <a class="Text" asp-area="" asp-controller="HomeFile" asp-action="ViewFiles" style="color:black"> View Lease-Agreements</a>
                                    </li>
                                    <li><a class="Text" asp-area="" asp-controller="ReportApartment" asp-action="Index" style="color:black">Apartment Reports</a></li>
                                   
                                   
                                </ul>
                            </li>
                           
                           


                        }

                        @if (User.IsInRole("Manager"))
                        {

                              <li class="has-children">
                                <a asp-controller="Apartment" asp-action="Index">Management</a>
                                <ul class="dropdown">
                                    <li><a asp-area="" asp-controller="Apartment" asp-action="Create">Add Apartments</a></li>
                                    <li><a asp-area="" asp-controller="Apartment" asp-action="Index" >List Apartments</a></li>
                                    <li><a asp-area="" asp-controller="Reservations" asp-action="Index">View Reservations</a></li>
                                    <li><a asp-area="" asp-controller="Home" asp-action="ManageOverdueTenants">View Overdue Apartments</a></li>

                                    <li><a asp-area="" asp-controller="Home" asp-action="History">Payments</a></li>
                                    <li><a asp-area="" asp-controller="HomeFile" asp-action="ViewFiles">Lease-Agreements</a></li>
                                    <li><a asp-area="" asp-controller="Tests" asp-action="Index">Logins</a></li>
                                    </ul>
                                    </li>


                          

                        }
                   
                        <!-- Display the Login and Register buttons with the same styling -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                            </li>
                            <li class="nav-item">
                                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                            </li>
                        }
                    </ul>

                   



                    <a href="#"
                       class="burger light me-auto float-end mt-1 site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                       data-toggle="collapse"
                       data-target="#main-navbar">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>


    <!--
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" style="font-weight: bold; font-size: 35px;" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="background-color:black; padding: 10px;">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Apartment" asp-action="Home" style="color: white; font-size: 20px; padding: 10px;">Home</a>
                        </li>
                   

                        @if (User.Identity.IsAuthenticated && !(User.IsInRole("Admin")) && !(User.IsInRole("Manager")))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Profiles" asp-action="Index" style="color: white; font-size: 20px; padding: 10px;">RENT-APARTMENT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Apartment" asp-action="CIndex" style="color: white; font-size: 20px; padding: 10px;">RENT-APARTMENT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="History" style="color: white; font-size: 20px; padding: 10px;">HISTORY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Register" style="color: white; font-size: 20px; padding: 10px;">REGISTER</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Index" style="color: white; font-size: 20px; padding: 10px;">REGISTRATIONS</a>
                            </li>
                        }
                   

                        @if (User.IsInRole("Admin"))
                        {
                       
                          
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Apartment" asp-action="Index" style="color: white; font-size: 20px; padding: 10px;">APARTMENTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="History" style="color: white; font-size: 20px; padding: 10px;">HISTORY</a>
                            </li>
                          
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Index" style="color: white; font-size: 20px; padding: 10px;">REGISTRATIONS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Tests" asp-action="Create" style="color: white; font-size: 20px; padding: 10px;">ADD_CEDITS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Tests" asp-action="Index" style="color: white; font-size: 20px; padding: 10px;">EDIT_CEDITS</a>
                            </li>

                        }
                        @if (User.IsInRole("Manager"))
                        {



                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Apartment" asp-action="Create" style="color: white; font-size: 20px; padding: 10px;">C-APARTMENTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Apartment" asp-action="Index" style="color: white; font-size: 20px; padding: 10px;">C-APARTMENTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="History" style="color: white; font-size: 20px; padding: 10px;">HISTORY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Manager" asp-action="Index" style="color: white; font-size: 20px; padding: 10px;">REGISTRATIONS</a>
                            </li>
                        }
                       
                    </ul>
                    <partial name="_LoginPartial" />
                </div>

            </div>
        </nav>
    </header>

    -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

