@model MvcCoreUploadAndDisplayImage_Demo.Models.ErrorViewModel

<h1>Error</h1>
<p>@Model.Message</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> @Model.RequestId
    </p>
}
